openapi: 3.1.0
info:
  version: 1.0.0
  title: AquaTrack API
  description: Comprehensive API documentation for managing resources, including user authentication, contact management, and other related operations.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: Auth
    description: Endpoints for user authentication, registration, and token management.
  - name: Water
    description: Endpoints for managing water consumption tracking and related data.
servers:
  - url: https://api.briushyn.dev
  - url: http://127.0.0.1:3000
paths:
  /users/register:
    post:
      $ref: ../swagger/paths/users/register/post.yaml
  /users/login:
    post:
      $ref: ../swagger/paths/users/login/post.yaml
  /users/refresh:
    post:
      $ref: ../swagger/paths/users/refresh/post.yaml
  /users/logout:
    post:
      $ref: ../swagger/paths/users/logout/post.yaml
  /users/me:
    get:
      $ref: ../swagger/paths/users/me/get.yaml
  /users/update-user:
    put:
      $ref: ../swagger/paths/users/update-user/put.yaml
  /users/update-password:
    put:
      $ref: ../swagger/paths/users/update-password/put.yaml
  /users/count:
    get:
      $ref: ../swagger/paths/users/count/get.yaml
  /users/forgot-password:
    post:
      $ref: ../swagger/paths/users/forgot-password/post.yaml
  /users/google-oauth-url:
    get:
      $ref: ../swagger/paths/users/google-oauth-url/get.yaml
  /water:
    post:
      $ref: ../swagger/paths/water/post.yaml
  /water/{id}:
    patch:
      $ref: ../swagger/paths/water/{id}/patch.yaml
    delete:
      $ref: ../swagger/paths/water/{id}/delete.yaml
  /water/daily:
    get:
      $ref: ../swagger/paths/water/daily/get.yaml
  /water/monthly:
    get:
      $ref: ../swagger/paths/water/monthly/get.yaml
  /water/weekly:
    get:
      $ref: ../swagger/paths/water/we/get.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
